#landing {
  width: 100%;
  height: calc(100vh + min(20vw, 20vh));

  main {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}


