#background {
  width: 100%;
  height: calc(100vh + min(10vw, 10vh));

  background: var(--dark-blue);

  .background-circle {
    border-radius: 50%;

    box-shadow: var(--box-shadow);

    position: absolute;
  }

  &-circle-1 {
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);

    background-image: linear-gradient(to right bottom, var(--blue), var(--dark-blue));

    left: min(5vw, 10vh);
    top: max(5vw, 5vh);
  }

  &-circle-2 {
    width: min(37.5vw, 37.5vh);
    height: min(37.5vw, 37.5vh);

    background-image: linear-gradient(to left top, var(--dark-purple), var(--dark-blue));

    right: min(30vw, 30vh);
    bottom: max(-20vw, -20vh);
  }

  &-circle-3 {
    width: min(25vw, 25vh);
    height: min(25vw, 25vh);

    background-image: linear-gradient(to left bottom, var(--pink), var(--dark-blue));

    top: min(10vw, 10vh);
    right: min(10vw, 25vh);
  }
}
