<div class="toolbar">
  <div class="toolbar-brushes glass">
    <app-node [ngClass]="brush == BrushType.Node ? 'brush-active' : ''" (click)="onNodeBrushClk()"></app-node>

    <app-eraser [ngClass]="brush == BrushType.Eraser ? 'brush-active' : ''" (click)="onEraserBrushClk()"></app-eraser>
  </div>

  <div class="toolbar-btn glass" (click)="onFillBrushClk()">
    <app-node></app-node>
  </div>

  <div class="toolbar-btn glass" (click)="onClearBrushClk()">
    <app-eraser></app-eraser>
  </div>
</div>
