@import "../../../styles.scss";

#intro {
  width: 100%;
  height: 100vh;

  display: flex;

  &-title-wrapper {
    width: 20vw;
    height: 100%;

    text-align: end;
  }

  &-title {
    margin: 0;
    margin: 0.2em;

    color: var(--dark-blue);

    font-size: 5em;
    font-weight: bold;

    position: sticky;
    top: 0;
  }

  main {
    width: 80vw;
    @include center-content();
  }
}

@media only screen and (max-width: 1400px) {
  #intro {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    &-title-wrapper {
      width: 100%;
      height: fit-content;

      background-color: white;

      text-align: start;

      position: sticky;
      top: 0;
    }

    &-title {
      margin: 0.4em;

      color: var(--dark-blue);

      font-size: 5em;
      font-weight: bold;

      position: static;
    }

    main {
      width: 100%;
      height: 100%;
      @include center-content();
    }
  }
}
