/* You can add global styles to this file, and also import other style files */

:root {
  --dark-blue: #06102C;
  --dark-purple: #AC9DFF;

  --blue: #236588;
  --pink: #FF9B9B;
  --purple: #C7C0F1;

  --box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);


}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin center-content() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background-color: rgb(255, 255, 255, 0.2);

  border-left: 2px solid rgb(255, 255, 255, 0.2);
  border-top: 2px solid rgb(255, 255, 255, 0.2);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);

  backdrop-filter: blur(30px);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
